<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bs.union.crm.mapper.user.SysUserMapper">

  <!-- 实体映射 -->
  <resultMap id="BaseResultMap" type="com.bs.union.crm.model.entity.SysUserEntity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="gender" jdbcType="CHAR" property="gender" />
    <result column="hire_time" jdbcType="TIMESTAMP" property="hireTime" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="login_ip" jdbcType="VARCHAR" property="loginIp" />
    <result column="dept_id" jdbcType="BIGINT" property="deptId" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="position_name" jdbcType="VARCHAR" property="positionName" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="birthday" jdbcType="TIMESTAMP" property="birthday" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="id_no" jdbcType="VARCHAR" property="idNo" />
    <result column="wx" jdbcType="VARCHAR" property="wx" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <!-- 表基本列 -->
  <sql id="Base_Column_List">
    id, nick_name, user_name, gender, hire_time, account, avatar, password, salt, login_ip,
    dept_id, dept_name, role_id, role_name, position_name, comment, birthday, email,
    id_no, wx, status, create_by, update_by, create_time, update_time
  </sql>

  <!-- 通用查询sql -->
  <sql id="Base_Where_SQL">
    <where>
		<if test="nickName != null and !&quot;&quot;.equals(nickName)">and nick_name = #{nickName}</if>
		<if test="userName != null and !&quot;&quot;.equals(userName)">and user_name = #{userName}</if>
		<if test="gender != null and !&quot;&quot;.equals(gender)">and gender = #{gender}</if>
		<if test="hireTime != null and !&quot;&quot;.equals(hireTime)">and DATE_FORMAT(hire_time,'%Y-%m-%d') = STR_TO_DATE(#{hireTime},'%Y-%m-%d')</if>
		<if test="account != null and !&quot;&quot;.equals(account)">and account = #{account}</if>
		<if test="avatar != null and !&quot;&quot;.equals(avatar)">and avatar = #{avatar}</if>
		<if test="password != null and !&quot;&quot;.equals(password)">and password = #{password}</if>
		<if test="salt != null and !&quot;&quot;.equals(salt)">and salt = #{salt}</if>
		<if test="loginIp != null and !&quot;&quot;.equals(loginIp)">and login_ip = #{loginIp}</if>
		<if test="deptId != null and !&quot;&quot;.equals(deptId)">and dept_id = #{deptId}</if>
		<if test="deptName != null and !&quot;&quot;.equals(deptName)">and dept_name = #{deptName}</if>
		<if test="roleId != null and !&quot;&quot;.equals(roleId)">and role_id = #{roleId}</if>
		<if test="roleName != null and !&quot;&quot;.equals(roleName)">and role_name = #{roleName}</if>
		<if test="positionName != null and !&quot;&quot;.equals(positionName)">and position_name = #{positionName}</if>
		<if test="comment != null and !&quot;&quot;.equals(comment)">and comment = #{comment}</if>
		<if test="birthday != null and !&quot;&quot;.equals(birthday)">and DATE_FORMAT(birthday,'%Y-%m-%d') = STR_TO_DATE(#{birthday},'%Y-%m-%d')</if>
		<if test="email != null and !&quot;&quot;.equals(email)">and email = #{email}</if>
		<if test="idNo != null and !&quot;&quot;.equals(idNo)">and id_no = #{idNo}</if>
		<if test="wx != null and !&quot;&quot;.equals(wx)">and wx = #{wx}</if>
		<if test="status != null and !&quot;&quot;.equals(status)">and status = #{status}</if>
		<if test="createBy != null and !&quot;&quot;.equals(createBy)">and create_by = #{createBy}</if>
		<if test="updateBy != null and !&quot;&quot;.equals(updateBy)">and update_by = #{updateBy}</if>
		<if test="createTime != null and !&quot;&quot;.equals(createTime)">and DATE_FORMAT(create_time,'%Y-%m-%d') = STR_TO_DATE(#{createTime},'%Y-%m-%d')</if>
		<if test="updateTime != null and !&quot;&quot;.equals(updateTime)">and DATE_FORMAT(update_time,'%Y-%m-%d') = STR_TO_DATE(#{updateTime},'%Y-%m-%d')</if>
	</where>
  </sql>

  <!-- 插入一条记录 -->
  <insert id="save" keyProperty="id" useGeneratedKeys="true">
    insert into sys_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="null != nickName">nick_name, </if>
			<if test="null != userName">user_name, </if>
			<if test="null != gender">gender, </if>
			<if test="null != hireTime">hire_time, </if>
			<if test="null != account">account, </if>
			<if test="null != avatar">avatar, </if>
			<if test="null != password">password, </if>
			<if test="null != salt">salt, </if>
			<if test="null != loginIp">login_ip, </if>
			<if test="null != deptId">dept_id, </if>
			<if test="null != deptName">dept_name, </if>
			<if test="null != roleId">role_id, </if>
			<if test="null != roleName">role_name, </if>
			<if test="null != positionName">position_name, </if>
			<if test="null != comment">comment, </if>
			<if test="null != birthday">birthday, </if>
			<if test="null != email">email, </if>
			<if test="null != idNo">id_no, </if>
			<if test="null != wx">wx, </if>
			<if test="null != status">status, </if>
			<if test="null != createBy">create_by, </if>
			<if test="null != updateBy">update_by, </if>
			<if test="null != createTime">create_time, </if>
			<if test="null != updateTime">update_time, </if>
		</trim>
	values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="null != nickName">#{nickName}, </if>
			<if test="null != userName">#{userName}, </if>
			<if test="null != gender">#{gender}, </if>
			<if test="null != hireTime">#{hireTime}, </if>
			<if test="null != account">#{account}, </if>
			<if test="null != avatar">#{avatar}, </if>
			<if test="null != password">#{password}, </if>
			<if test="null != salt">#{salt}, </if>
			<if test="null != loginIp">#{loginIp}, </if>
			<if test="null != deptId">#{deptId}, </if>
			<if test="null != deptName">#{deptName}, </if>
			<if test="null != roleId">#{roleId}, </if>
			<if test="null != roleName">#{roleName}, </if>
			<if test="null != positionName">#{positionName}, </if>
			<if test="null != comment">#{comment}, </if>
			<if test="null != birthday">#{birthday}, </if>
			<if test="null != email">#{email}, </if>
			<if test="null != idNo">#{idNo}, </if>
			<if test="null != wx">#{wx}, </if>
			<if test="null != status">#{status}, </if>
			<if test="null != createBy">#{createBy}, </if>
			<if test="null != updateBy">#{updateBy}, </if>
			<if test="null != createTime">#{createTime}, </if>
			<if test="null != updateTime">#{updateTime}, </if>
		</trim>
  </insert>

  <!-- 更新一条记录 -->
  <update id="update">
    update sys_user
		<set>
			<if test="null != nickName">nick_name = #{nickName}, </if>
			<if test="null != userName">user_name = #{userName}, </if>
			<if test="null != gender">gender = #{gender}, </if>
			<if test="null != hireTime">hire_time = #{hireTime}, </if>
			<if test="null != account">account = #{account}, </if>
			<if test="null != avatar">avatar = #{avatar}, </if>
			<if test="null != password">password = #{password}, </if>
			<if test="null != salt">salt = #{salt}, </if>
			<if test="null != loginIp">login_ip = #{loginIp}, </if>
			<if test="null != deptId">dept_id = #{deptId}, </if>
			<if test="null != deptName">dept_name = #{deptName}, </if>
			<if test="null != roleId">role_id = #{roleId}, </if>
			<if test="null != roleName">role_name = #{roleName}, </if>
			<if test="null != positionName">position_name = #{positionName}, </if>
			<if test="null != comment">comment = #{comment}, </if>
			<if test="null != birthday">birthday = #{birthday}, </if>
			<if test="null != email">email = #{email}, </if>
			<if test="null != idNo">id_no = #{idNo}, </if>
			<if test="null != wx">wx = #{wx}, </if>
			<if test="null != status">status = #{status}, </if>
			<if test="null != createBy">create_by = #{createBy}, </if>
			<if test="null != updateBy">update_by = #{updateBy}, </if>
			<if test="null != createTime">create_time = #{createTime}, </if>
			<if test="null != updateTime">update_time = #{updateTime}, </if>
		</set>
		where id = #{id}
  </update>

  <!-- 删除给定主键的记录 -->
  <delete id="delete">
    delete
		from sys_user
	where
		id = #{id}
  </delete>

  <!-- 多个主键批量删除记录 -->
  <delete id="deleteBatch">
    delete
		from sys_user
	where
		id in
		<foreach collection="array" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
  </delete>

  <!-- 多个实体批量删除记录 -->
  <delete id="deleteList">
    delete
		from sys_user
	where
		id in
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item.id}
		</foreach>
  </delete>

  <!-- 主键查找一条记录 -->
  <select id="findOne" resultMap="BaseResultMap">
    select
		<include refid="Base_Column_List" />
	from sys_user
	where id = #{id}
  </select>

  <!-- 查询多条 -->
  <select id="findList" resultMap="BaseResultMap">
    select
		<include refid="Base_Column_List" />
	from sys_user
		<include refid="Base_Where_SQL" />
  </select>

  <!-- 分页查询 -->
  <select id="findPage" resultMap="BaseResultMap">
    select
		<include refid="Base_Column_List" />
	from sys_user
		<where>
		<if test="nickName != null and !&quot;&quot;.equals(nickName)">and nick_name like concat('%',#{nickName},'%')</if>
		<if test="userName != null and !&quot;&quot;.equals(userName)">and user_name like concat('%',#{userName},'%')</if>
		<if test="gender != null and !&quot;&quot;.equals(gender)">and gender = #{gender}</if>
		<if test="hireTime != null and !&quot;&quot;.equals(hireTime)">and DATE_FORMAT(hire_time,'%Y-%m-%d') = STR_TO_DATE(#{hireTime},'%Y-%m-%d')</if>
		<if test="account != null and !&quot;&quot;.equals(account)">and account like concat('%',#{account},'%')</if>
		<if test="avatar != null and !&quot;&quot;.equals(avatar)">and avatar like concat('%',#{avatar},'%')</if>
		<if test="password != null and !&quot;&quot;.equals(password)">and password like concat('%',#{password},'%')</if>
		<if test="salt != null and !&quot;&quot;.equals(salt)">and salt like concat('%',#{salt},'%')</if>
		<if test="loginIp != null and !&quot;&quot;.equals(loginIp)">and login_ip like concat('%',#{loginIp},'%')</if>
		<if test="deptId != null and !&quot;&quot;.equals(deptId)">and dept_id = #{deptId}</if>
		<if test="deptName != null and !&quot;&quot;.equals(deptName)">and dept_name like concat('%',#{deptName},'%')</if>
		<if test="roleId != null and !&quot;&quot;.equals(roleId)">and role_id = #{roleId}</if>
		<if test="roleName != null and !&quot;&quot;.equals(roleName)">and role_name like concat('%',#{roleName},'%')</if>
		<if test="positionName != null and !&quot;&quot;.equals(positionName)">and position_name like concat('%',#{positionName},'%')</if>
		<if test="comment != null and !&quot;&quot;.equals(comment)">and comment like concat('%',#{comment},'%')</if>
		<if test="birthday != null and !&quot;&quot;.equals(birthday)">and DATE_FORMAT(birthday,'%Y-%m-%d') = STR_TO_DATE(#{birthday},'%Y-%m-%d')</if>
		<if test="email != null and !&quot;&quot;.equals(email)">and email like concat('%',#{email},'%')</if>
		<if test="idNo != null and !&quot;&quot;.equals(idNo)">and id_no like concat('%',#{idNo},'%')</if>
		<if test="wx != null and !&quot;&quot;.equals(wx)">and wx like concat('%',#{wx},'%')</if>
		<if test="status != null and !&quot;&quot;.equals(status)">and status = #{status}</if>
		<if test="createBy != null and !&quot;&quot;.equals(createBy)">and create_by like concat('%',#{createBy},'%')</if>
		<if test="updateBy != null and !&quot;&quot;.equals(updateBy)">and update_by like concat('%',#{updateBy},'%')</if>
		<if test="createTime != null and !&quot;&quot;.equals(createTime)">and DATE_FORMAT(create_time,'%Y-%m-%d') = STR_TO_DATE(#{createTime},'%Y-%m-%d')</if>
		<if test="updateTime != null and !&quot;&quot;.equals(updateTime)">and DATE_FORMAT(update_time,'%Y-%m-%d') = STR_TO_DATE(#{updateTime},'%Y-%m-%d')</if>
	</where>
  </select>

  <!-- 查询记录数量 -->
  <select id="count" resultType="int">
    select
		count(*)
	from sys_user
		<include refid="Base_Where_SQL" />
  </select>

  <!-- 查询记录是否存在 -->
  <select id="exist" resultMap="BaseResultMap" />

</mapper>
