<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bs.union.classes.mapper.ClientUserMapper">

  <!-- 实体映射 -->
  <resultMap id="BaseResultMap" type="com.bs.union.classes.entity.ClientUserEntity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="wx_name" jdbcType="VARCHAR" property="wxName" />
    <result column="wx_avatar" jdbcType="VARCHAR" property="wxAvatar" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <!-- 表基本列 -->
  <sql id="Base_Column_List">
    id, wx_name, wx_avatar, create_time, update_time
  </sql>

  <!-- 通用查询sql -->
  <sql id="Base_Where_SQL">
    <where>
		<if test="wxName != null and !&quot;&quot;.equals(wxName)">and wx_name = #{wxName}</if>
		<if test="wxAvatar != null and !&quot;&quot;.equals(wxAvatar)">and wx_avatar = #{wxAvatar}</if>
		<if test="createTime != null and !&quot;&quot;.equals(createTime)">and DATE_FORMAT(create_time,'%Y-%m-%d') = STR_TO_DATE(#{createTime},'%Y-%m-%d')</if>
		<if test="updateTime != null and !&quot;&quot;.equals(updateTime)">and DATE_FORMAT(update_time,'%Y-%m-%d') = STR_TO_DATE(#{updateTime},'%Y-%m-%d')</if>
	</where>
  </sql>

  <!-- 插入一条记录 -->
  <insert id="save" keyProperty="id" useGeneratedKeys="true">
    insert into client_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="null != wxName">wx_name, </if>
			<if test="null != wxAvatar">wx_avatar, </if>
			<if test="null != createTime">create_time, </if>
			<if test="null != updateTime">update_time, </if>
		</trim>
	values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="null != wxName">#{wxName}, </if>
			<if test="null != wxAvatar">#{wxAvatar}, </if>
			<if test="null != createTime">#{createTime}, </if>
			<if test="null != updateTime">#{updateTime}, </if>
		</trim>
  </insert>

  <!-- 更新一条记录 -->
  <update id="update">
    update client_user
		<set>
			<if test="null != wxName">wx_name = #{wxName}, </if>
			<if test="null != wxAvatar">wx_avatar = #{wxAvatar}, </if>
			<if test="null != createTime">create_time = #{createTime}, </if>
			<if test="null != updateTime">update_time = #{updateTime}, </if>
		</set>
		where id = #{id}
  </update>

  <!-- 删除给定主键的记录 -->
  <delete id="delete">
    delete
		from client_user
	where
		id = #{id}
  </delete>

  <!-- 多个主键批量删除记录 -->
  <delete id="deleteBatch">
    delete
		from client_user
	where
		id in
		<foreach collection="array" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
  </delete>

  <!-- 多个实体批量删除记录 -->
  <delete id="deleteList">
    delete
		from client_user
	where
		id in
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item.id}
		</foreach>
  </delete>

  <!-- 主键查找一条记录 -->
  <select id="findOne" resultMap="BaseResultMap">
    select
		<include refid="Base_Column_List" />
	from client_user
	where id = #{id}
  </select>

  <!-- 查询多条 -->
  <select id="findList" resultMap="BaseResultMap">
    select
		<include refid="Base_Column_List" />
	from client_user
		<include refid="Base_Where_SQL" />
  </select>

  <!-- 分页查询 -->
  <select id="findPage" resultMap="BaseResultMap">
    select
		<include refid="Base_Column_List" />
	from client_user
		<where>
		<if test="wxName != null and !&quot;&quot;.equals(wxName)">and wx_name like concat('%',#{wxName},'%')</if>
		<if test="wxAvatar != null and !&quot;&quot;.equals(wxAvatar)">and wx_avatar like concat('%',#{wxAvatar},'%')</if>
		<if test="createTime != null and !&quot;&quot;.equals(createTime)">and DATE_FORMAT(create_time,'%Y-%m-%d') = STR_TO_DATE(#{createTime},'%Y-%m-%d')</if>
		<if test="updateTime != null and !&quot;&quot;.equals(updateTime)">and DATE_FORMAT(update_time,'%Y-%m-%d') = STR_TO_DATE(#{updateTime},'%Y-%m-%d')</if>
	</where>
  </select>

  <!-- 查询记录数量 -->
  <select id="count" resultType="int">
    select
		count(*)
	from client_user
		<include refid="Base_Where_SQL" />
  </select>

  <!-- 查询记录是否存在 -->
  <select id="exist" resultMap="BaseResultMap" />


</mapper>
