<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hdyl.schedule.xxljob.mapper.WalletOrderDetailMapper">
    <resultMap type="com.hdyl.schedule.xxljob.entity.pojo.WalletOrderDetailEntity" id="ObjectResultMap">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="order_id" property="orderId" jdbcType="BIGINT"/>
        <result column="aid" property="aid" jdbcType="BIGINT"/>
        <result column="coupon_id" property="couponId" jdbcType="BIGINT"/>
        <result column="coupon_amount" property="couponAmount" jdbcType="DECIMAL"/>
        <result column="commission_ratio" property="commissionRatio" jdbcType="DECIMAL"/>
        <result column="commission_fee" property="commissionFee" jdbcType="DECIMAL"/>
        <result column="industry_name" jdbcType="VARCHAR" property="industryName"/>
        <result column="province" jdbcType="VARCHAR" property="province"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="area" jdbcType="VARCHAR" property="area"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="create_time" property="createTime" jdbcType="BIGINT"/>
        <result column="update_time" property="updateTime" jdbcType="BIGINT"/>
    </resultMap>

    <insert id="insert">
        insert into wallet_order_detail(order_id, coupon_id, coupon_amount,
        create_time, aid, commission_ratio, commission_fee, industry_name, province, city, area, address)
        values (#{orderId}, #{couponId}, #{couponAmount}, #{createTime},
            #{aid}, #{commissionRatio}, #{commissionFee}, #{industryName},
            #{province},#{city},#{area},#{address})
    </insert>
</mapper>